.logo
  position: absolute
  width: 200px
  height: 200px
  display: flex
  flex-direction: column
  left: 3%
  top: 3%
  h1
    font-size: 32px
    font-weight: bold

.logo-pic
  width: 50px
  height: 50px
  background: black


@media screen and (min-width: 1024px)
  .logo
    left: 4%
    top: 13%
    h1
      font-size: 42px
